* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
  position: relative;
  z-index: 1;
}

.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    margin-top: 30px;
  }

  .slide {
    display: none;
  }

  .slide-image {
    display: block;
    object-fit: cover;
    width: 400px;
    height: 300px;
    margin: auto;
  }

  .caption-text {
    background-color: rgba(0,0,0,0.2);;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .slide_action_btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .slide_action_btn:hover {
    background-color: rgba(0,0,0,0.4);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .dots-container{
    text-align: center;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.0s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .upload {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70px);
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: "Nova Mono", monospace;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 2px;
    user-select: none;
  }

  span {
    display: block;
    font-size: 1.6em;
  }

  .dropzone {
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #ddd;
    border-radius: 10%;
    cursor: pointer;
  }

  .material-icons {
    font-size: 4em;
    color: black;
  }

  .add_audio {
    display: none;
  }
  
  canvas {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }

  .music_container {
    max-width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    position: relative;
  }

  .music_info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
  }

  .progress-container {
    background: black   ;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }

  .progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }

  .player_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
  }

  .player_action_btn {
    background-color: white;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }

  .player_action_btn_big {
    color: #cdc2d0;
    font-size: 30px;
  }

  .player_action_btn:focus{
    outline: 0;
  }

  .player_action_btn:hover{
    color: black;
  }

  .set_time {
    text-align: center;
    margin: 25px;
  }

  input[type=number] {
    margin: 5px;
    padding: 5px;
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
  }

  .submit_btn {
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
  }

  .submit_btn:hover {
    background-color:#3F51F9;
  }

  .sound_btn {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  .sound_i {
    margin: 5px;
  }

  .sound_bar_container {
    background: black   ;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }

  .sound_bar {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: width 0.1s linear;
  }


  